/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

$clr-background: #020202;
$clr-text: #7F8180;
$clr-text-light: #D4D4D4;

// THEMEs
// ## Dark theme
$theme-dark-bg-primary: #000000;
$theme-dark-text-primary: #7f8180;
$theme-dark-text-primary-bold: #F0F0F0;

$fw-medium: 500;
$fw-bold: 600;

/* Components */
