.main-form {
  color: #303030;

  &__box {
    background: #FFFFFF;
    padding: 4rem 8rem;
    border-radius: 15px;
  }
  &__heading {
    margin-bottom: 0;
    margin-right: 1.6rem;
  }
  &__subheader {
    margin-top: 3rem;
    margin-bottom: 6rem;
    text-align: center;
    font-weight: $fw-medium;
  }
  &__table {
    width: 100%;

    input {
      margin: 0;
    }

    td {
      width: 50%;
      padding-bottom: 1.6rem;
    }
  }

  &__footer {
    text-align: center;
    margin-top: 2rem;
  }

  &__submit {
    margin: 1.4rem auto 4rem;
  }

  &__small-text {
    font-size: 1.2rem;
    color: var(--theme-primary-text);

    a {
      color: var(--theme-primary-text)!important;
      @include transition(color);
      text-decoration: underline;

      &:hover{
        color: var(--theme-accent-color)!important;
      }
    }
  }
}
